* {
    margin: 0;
    padding: 0
}

::selection {
    background: rgba(255, 255, 0, .5)
}

::-moz-selection {
    background: rgba(255, 255, 0, .5)
}

html,
body {
    min-height: 100vh;
    position: relative
}

body:after {
    position: absolute;
    content: '';
    background: url(/images/pages/noise.png);
    pointer-events: none;
    width: 100%;
    height: 100%
}

body {
    font-size: 13.34px;
    font-family: open sans, sans-serif;
    *font-size: small;
    display: grid;
    grid-template-columns: minmax(12.5%, 1fr) minmax(12.5%, 39em) minmax(12.5%, 1fr)
}

body {
    background-color: #faf6d7
}

body.home {
    background-color: #faf6d7
}

body.research {
    /* background-color: #90ecfc  */
    background-color: #faf6d7
}

body.cv {
    background-color: #faf6d7
}

body.writing {
    background-color: #faf6d7
}

h3.rule span {
    background: #ffe6a1
}

h3.rule.home span {
    background: #7dc2ad
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 120%;
    text-align: left
}

h1 {
    font-size: 180%;
    margin-bottom: 1em
}

h2 {
    font-size: 120%;
    margin: 1em 0
}

h3 {
    margin-top: 2em
}

p {
    margin: 1em 0
}

a {
    color: #333
}

a:hover {
    color: #000
}

li {
    margin-left: 20px
}

table {
    font-size: inherit;
    font: 100%
}

img:not(.logo) {
    max-width: 39em;
    width: 100%;
    padding: 1em 0
}

img.logo {
    height: 25px
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.circle {
    border-radius: 50%;
    padding: 0 5px;
    margin-right: 2px;
    border: 1.5px solid
}

@media screen and (min-width: 48em) {
    #home {
        font-size: 12pt
    }
}

#me {
    width: 75%;
    max-width: 300px;
    display: block;
    margin-bottom: 3em;
    margin-top: 4em;
    border-radius: 200px;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px
}

div.icons {
    margin-top: 2em;
    margin-bottom: 2em;
    width: 75%;
    max-width: 300px;
    display: flex;
    justify-content: space-between
}

svg {
    width: 80px
}

ul.news {
    list-style-type: none
}

ul.news li {
    line-height: 1.75em;
    display: flex;
    margin-left: 0
}

ul.posts {
    list-style-type: none;
    margin-bottom: 2em;

}

ul.posts li {
    line-height: 1.75em;
    display: flex;
    margin-left: 0;
    margin-bottom: 0.7em;
}

ul.posts span {
    color: #777;
    font-family: Monaco, courier new, monospace;
    font-size: 80%;
    flex-shrink: 0
}

p.quote {
    margin-bottom: 4em;
    margin-top: 6em;
    color: #222;
    padding: 2em;
    border: 2px solid black;
    border-radius: 25px;
}

table.project-table {
    width: 100%
}

img.project-cover {
    width: 100%;
    padding: 10px 0
}

h3.rule {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: .1em;
    margin-bottom: 30px
}

img.pub-cover {
    width: 66px;
    max-width: 66.05px;
    padding: 0 10px 0 0
}

div.pub-cite {
    display: none;
    background-color: rgba(255, 255, 255, .2);
    border-style: dashed;
    border-width: 1px
}

.side {
    min-width: 12.5%
}

.side canvas {
    display: none
}

@media screen and (min-width: 60em) {
    .side canvas {
        display: block
    }
}

.middle {
    font-size: 110%;
    text-align: justify;
    margin: 3em 0 2em;
    line-height: 1.5em
}

.nav {
    font-family: Monaco, courier new, monospace;
    color: #06f;
    font-weight: 700;
    margin-bottom: 3em;
    width: 100%;
    text-align: right
}

.nav li {
    display: block
}

.nav a {
    text-decoration: none;
    color: #777
}

.nav a:hover {
    color: #000
}

.nav a.active {
    color: #000
}

.nav1 a {
    color: #4e6e91;
    float: left;
    display: flex;
}

.nav1 a:hover {
    color: #188a6b
}

.nav1 a.active {
    color: #282dfc
}

@media screen and (min-width: 48em) {
    .nav2 li {
        display: inline;
        margin-left: 1em
    }
}

.middle .meta {
    color: #333
}

#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em
}

#post ul,
#post ol {
    margin-left: 1.35em
}

#post blockquote {
    font-size: 22px;
    font-style: italic;
    width: 100%;
    text-align: center
}

#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em
}

#post pre code {
    border: none
}

#post .image-wrapper {
    text-align: center
}

#post .image-caption {
    color: #555;
    margin-top: -.1em
}

#post iframe {
    width: 100%;
    border: none;
    height: 100%
}

mjx-container {
    min-width: 100% !important;
    overflow-x: auto;
    overflow-y: hidden
}

.flower_logo {
    font-size: 17px;
    /* margin-right: 0.5em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); */
}

.tab {
    margin-left: 40px;
}

.footer {
    left: 49%;
    position: absolute;
    top: 50%;
    margin-top: 6em;
    /* transform: translate(-50%, -50%); */

}

.snowflake {
    color: #f8f8f8;
    font-size: 1.3em;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 2px #383737;
}


@-webkit-keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@-webkit-keyframes snowflakes-shake {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    50% {
        -webkit-transform: translateX(80px);
        transform: translateX(180px)
    }
}

@keyframes snowflakes-fall {
    0% {
        top: -10%
    }

    100% {
        top: 100%
    }
}

@keyframes snowflakes-shake {

    0%,
    100% {
        transform: translateX(0)
    }

    50% {
        transform: translateX(180px)
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 15s, 1s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 15s, 5s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running
}

.snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 30s, 0s;
    animation-delay: 30s, 0s
}

.snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 5s, 0s;
    animation-delay: 19s, 1s
}

.snowflake:nth-of-type(2) {
    left: 10%;
    -webkit-animation-delay: 6.5s, .5s;
    animation-delay: 19.5s, .5s
}

.snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 30s, 2s
}

.snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 32s, 2s
}

.snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 38s, 3s
}

.snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 36s, 2s
}

.snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 32.5s, 1s
}

.snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 31s, 0s;
    animation-delay: 31s, 0s
}

.snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 33s, 1.5s
}

.snowflake:nth-of-type(10) {
    left: 5%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 32s, 0s
}

.snowflake:nth-of-type(11) {
    left: 65%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 34s, 2.5s
}

.snowflake:nth-of-type(12) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 32.5s, 1s
}

.snowflake:nth-of-type(13) {
    left: 80%;
    -webkit-animation-delay: 31s, 0s;
    animation-delay: 31s, 0s
}

.snowflake:nth-of-type(14) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 48s, 1.5s
}

.snowflake:nth-of-type(15) {
    left: 5%;
    -webkit-animation-delay: 2s, 0s;
    animation-delay: 40s, 0s
}

.snowflake:nth-of-type(16) {
    left: 30%;
    -webkit-animation-delay: 4s, 2.5s;
    animation-delay: 45s, 2.5s
}
